body {
      font-family: 'Segoe UI', sans-serif;
    }
    .hero {
      background-color: #343a40;
      color: white;
      padding: 60px 20px;
      text-align: center;
    }
    .section-title {
      margin-top: 40px;
      margin-bottom: 20px;
      font-weight: bold;
    }
    .timeline {
        position: relative;
        margin-left: 20px;
        padding-left: 40px;
        border-left: 3px solid #0d6efd;
    }

    .timeline::before {
        content: '';
        position: absolute;
        top: 0;
        left: -1.5px;
        height: 100%;
        width: 3px;
        background: #0d6efd;
    }

    .timeline-item {
        position: relative;
        margin-bottom: 40px;
    }

    .timeline-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: -40px;
        width: 20px;
        height: 20px;
        background-color: #0d6efd;
        border-radius: 50%;
        border: 3px solid white;
        box-shadow: 0 0 0 3px #0d6efd;
    }

    .timeline-item h5 {
        font-weight: bold;
        color: #0d6efd;
    }

    .timeline-item h6 {
        font-style: italic;
        color: #6c757d;
    }

    @media (max-width: 576px) {
        .timeline {
        padding-left: 20px;
        margin-left: 10px;
        }
        .timeline-item::before {
        left: -30px;
        }
    }
    .project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 15px;
  }

  .project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }

  .project-icon {
    font-size: 40px;
    color: #0d6efd;
    margin-bottom: 10px;
  }

  .project-title {
    font-weight: bold;
    color: #0d6efd;
  }

  .project-section {
    background-color: #f8f9fa;
    padding: 60px 0;
    border-radius: 12px;
  }
  .projec-image{
    width: 50%;

  }
  .card:hover {
  transform: translateY(-6px);
  transition: all 0.3s ease;
}
.skills-section {
    background-color: #f8f9fa;
    padding: 60px 0;
  }

  .skill-category {
    margin-bottom: 40px;
  }

  .skill-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  .skill-box {
    text-align: center;
    margin-bottom: 25px;
  }

  .skill-name {
    font-size: 14px;
    font-weight: 500;
  }
    #contact .card {
    border-radius: 15px;
    background-color: #f9f9f9;
    }

    #contact button:hover {
    background-color: #0b5ed7;
    }

    footer {
      background-color: #f8f9fa;
      padding: 20px 0;
      text-align: center;
    }
    footer a:hover {
        color: #0d6efd !important;
        text-decoration: underline;
    }

    footer .bi {
    font-size: 1.2rem;
    }